@*@using StudyManagement.Model
    @model IEnumerable<StudyManagement.Model.Student>*@
@*@model IEnumerable<StudyManagement.ViewModels.HomeIndexViewModel>*@

@model StudyManagement.ViewModels.HomeIndexViewModel


@{
    //Layout = null;
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>student</title>
</head>
<body>
    @*<h1>Hello from Index.cshtml</h1>*@
    @*<h1>@Model.FirstName @Model.LastName @Model.Sex</h1>*@
    <h1>学生列表</h1>
    <ul>
        @foreach (var i in Model.Students)
        {
            @*<li>@i.Name (@i.Age) <a href="/Home/Detail/@i.Id">Detail</a> </li>*@
            <li>
                @i.Name  @i.ClassName
                <a asp-controller="Home"
                   asp-action="Detail"
                   asp-Route-id="@i.Id">
                    Detail
                </a>
            </li>
        }
    </ul>


    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名字</th>
                <th>年级</th>
                <th>邮箱</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Students)
            {
                <tr>
                    <td> @i.Id </td>
                    <td> @i.Name </td>
                    <td> @i.ClassName </td>
                    <td> @i.Email </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Create">添加</a>
    </div>

    <div class="card-deck">
        @foreach (var i in Model.Students)
        {
            <div class="card m-3">
                <div class="card-header">
                    <h3>@i.Name</h3>
                </div>
                <img class="card-img-top" src="~/images/001.jpg" />
                <div class="card-footer text-center">                
                    <a href="#" class="btn btn-primary">查看</a>
                    <a href="#" class="btn btn-primary">编辑</a>
                    <a href="#" class="btn btn-danger">删除</a>
                </div>              
            </div>
        }
    </div>





</body>
</html>
