@*@using StudyManagement.Model
    @model IEnumerable<StudyManagement.Model.Student>*@
@*@model IEnumerable<StudyManagement.ViewModels.HomeIndexViewModel>*@

@model StudyManagement.ViewModels.HomeIndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<h1>Hello from Index.cshtml</h1>*@
    @*<h1>@Model.FirstName @Model.LastName @Model.Sex</h1>*@

    <h1>student</h1>
    <ul>
        @foreach (var i in Model.Students)
        {
            @*<li>@i.Name (@i.Age) <a href="/Home/Detail/@i.Id">Detail</a> </li>*@
            <li>
                @i.Name (@i.Age)
                <a asp-controller="Home" 
                   asp-action="Detail" 
                   asp-Route-id="@i.Id">Detail
               </a>        
            </li>
        }

        @*@foreach (var item in Model)
        {
            <li>@item.FirstName - @item.LastName </li>
        }*@
    </ul>
    <div>
        <a asp-action="Create">添加</a>
    </div>
</body>
</html>
